<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
  <!--    <meta name="_csrf" th:content="${_csrf.token}"/>-->
  <!--    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->

</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
  <script th:src="@{/js/member/login.js}" type="module"></script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/member/loginForm.css}">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">

  <style>
    .btn-social-login {
      border: 1px solid black;
      border-radius: 50%;
      color: #fff;
    }
    .img-photo{
       width: 465px;
       height: 635px;
      position: relative;
       background: url(/img/member/loginForm/phone.png)
                    no-repeat center;
    }
    .error{
      color: #bd2130;
    }
  </style>

</th:block>

<div layout:fragment="content" class="content-mg">
  <div class="login-container">
    <div class="img-photo">
      <img th:src="@{/img/member/loginForm/phone-slide-1.png}" alt="background insta photo">
    </div>
    <div class="form-login">
      <div class="form">
        <img th:src="@{/img/member/loginForm/logo.png}" class="logo-instagram" alt="Instagram logo">
        <input type="text" id="emailInpt" placeholder="이메일">
        <input type="password" id="passwordInpt" placeholder="비밀번호">
        <button type="submit" id="loginBtn">로그인</button>

        <div class="or">또는</div>
        <a href="#" class="forgot-pass">비밀번호를 잊으셨나요?</a>
      </div>
      <div class="signup">
        <p>계정이 없으신가요? <a th:href="@{/member/register}">가입하기</a></p>
      </div>
      <hr>
      <div class="d-flex justify-content-center">
      <button class='btn-social-login m-3 rounded-circle' style='background:#D93025' onclick="location.href='/oauth2/authorization/google'"><i class="xi-3x xi-google">
      </i></button>
      <button class='btn-social-login m-3 rounded-circle' style='background:#24292E' onclick="location.href='/oauth2/authorization/github'"><i class="xi-3x xi-github"></i></button>
      <button class='btn-social-login m-3 rounded-circle' style='background:#1FC700' onclick="location.href='/oauth2/authorization/naver'"><i class="xi-3x xi-naver"></i></button>
      <button class='btn-social-login m-3 rounded-circle' style='background:#FFEB00' onclick="location.href='/oauth2/authorization/kakao'"><i class="xi-3x xi-kakaotalk text-dark"></i></button>
      </div>
    </div>
  </div>


</html>