<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/member/profile.css}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/member/profile.js}" type="module"></script>
</th:block>
<body>
<div layout:fragment="content">

  <header>
      <div class="profile-root">
      <input type="hidden" id="memberId" th:value="${member.id}">

    <div class="container">

      <div class="profile">

        <div class="profile-image">
          <img style="width: 152px; height: 152px;" th:if="${member.picture != null}" th:src="${member.picture.startsWith('http') ? member.picture : '/member/download/profile/' + member.picture }" alt="">


        </div>

        <div class="profile-user-settings">

          <h1 class="profile-user-name" th:text="${member.name}">janedoe_</h1>

          <button th:if="${member.id == profileMemberId}" class="btn profile-edit-btn" onclick="location.href='/member/profile/edit'">Edit Profile</button>

          <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

        </div>

        <div class="profile-stats">

          <ul>
            <li><span class="profile-stat-count" th:text="${member.postSize}" >0</span> posts</li>
            <li id="followers" th:value="${member.id}"><span class="profile-stat-count" th:text="${member.followersSize}">0</span> followers</li>
            <li id="following" th:value="${member.id}"><span class="profile-stat-count" th:text="${member.followingSize}">0</span> following</li>
          </ul>

        </div>

        <div class="profile-introduction">

          <p th:text="${member.introduction}"><p>

        </div>

      </div>
      <!-- End of profile section -->

    </div>
    <!-- End of container -->
      </div>
  </header>

    <main>

        <div class="container">

             <div class="gallery">

            </div>
            <!-- End of gallery -->

        </div>
        <!-- End of container -->

    </main>

    <div id="modal_follow" class="modal modal_overlay">
        <div class="modal_follow">
            <div class="modal_title">
                <div class="modal_title_side"></div>
                <div>
                    <span id="modalTitle">제목</span>
                </div>
                <div class="modal_title_side">
                        <span id="close_modal" class="close_modal material-icons-outlined" style="font-size: 30px">
                            close
                        </span>
                </div>
            </div>

            <div class="suggest-member-grid">

            </div>

        </div>
    </div>
</div>


</body>
</html>