<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!--<head>-->
<!--      <meta name="_csrf" th:content="${_csrf.token}"/>-->
<!--      <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->

<!--</head>-->

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
  <script th:src="@{/js/member/registerForm.js}" type="module"/>
  <script th:inline="javascript">
    $(function (){
      var message = [[${message}]]
      if (message != null) {
        alert(message)
      }
    })
  </script>
</th:block>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/member/registerForm.css}">
  <style>
    .img-photo{
      width: 465px;
      height: 635px;
      position: relative;
      background: url(/img/member/loginForm/phone.png)
      no-repeat center;
    }
    .fieldError{
      color: #bd2130;
    }
  </style>
</th:block>
<div layout:fragment="content" class="content-mg">
  <div class="signup-container">
    <div class="img-photo">
      <img th:src="@{/img/member/loginForm/phone-slide-1.png}" alt="Instagram photo">
    </div>
    <div class="form-signup">
      <form th:object="${memberDTO}">
        <img th:src="@{/img/member/loginForm/logo.png}" class="logo-instagram" alt="Instagram logo">

        <input type="text" th:field="*{email}" name="email" placeholder="이메일">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError" ></p>

        <input type="text" th:field="*{name}" name="name" placeholder="사용자 이름">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError"></p>

        <input type="password" th:field="*{password}" name="password" placeholder="비밀번호">
        <p th:if="${#fields.hasErrors('password')} " th:errors="*{password}" class="fieldError"></p>

        <input type="text" th:field="*{phone}" name="phone" placeholder="휴대폰">
        <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="fieldError"></p>

        <p th:if="${message != null}" th:text="${message}" class="fieldError"></p>
        <button id="btn_register" >가입</button>
      </form>
      <div class="signin">
        <p>계정이 있으신가요? <a th:href="@{/member/login}">로그인</a></p>
      </div>

    </div>
  </div>


</html>