<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
  <!--    <meta name="_csrf" th:content="${_csrf.token}"/>-->
  <!--    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->

</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/member/registerForm.css}">
  <style>
    .img-photo{
      width: 465px;
      height: 635px;
      position: relative;
      background: url(/img/member/loginForm/phone.png)
      no-repeat center;
    }
  </style>
</th:block>
<div layout:fragment="content" class="content-mg">
  <div class="signup-container">
    <div class="img-photo">
      <img th:src="@{/img/member/loginForm/phone-slide-1.png}" alt="Instagram photo">
    </div>
    <div class="form-signup">
      <form>
        <img th:src="@{/img/member/loginForm/logo.png}" class="logo-instagram" alt="Instagram logo">
        <a href="#" class="login-facebook primary button">
          <img th:src="@{/img/member/loginForm/fb_white.png}" height="22" width="23" alt="icon of facebook"> Facebook으로 로그인
        </a>
        <div class="or">또는</div>
        <input type="text" name="email" placeholder="전화번호, 사용자 이름 또는 이메일">
        <input type="text" name="username" placeholder="사용자 이름">
        <input type="password" name="passwordUser" placeholder="비밀번호">
        <button type="button" disabled>가입</button>
      </form>
      <div class="signin">
        <p>계정이 있으신가요? <a href="#">로그인</a></p>
      </div>

    </div>
  </div>


</html>