<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Instagram Post Upload</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col" id="upload-area">
            <input type="file" id="file-input" multiple>
            <label for="file-input" id="file-label">Choose Files</label>
        </div>
        <div class="col" id="text-area">
            <textarea id="caption-input" placeholder="Write your caption..."></textarea>
        </div>
    </div>
</div>

<script src="js/script.js"></script>
</body>
</html>
