<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="script">
    <script th:inline="javascript" >
    </script>

</th:block>

<th:block layout:fragment="css">

</th:block>


<div layout:fragment="content">
    <section class="main">
        <div class="wrapper">
            <div class="left-col">

                <!--POST 생성 영역-->
                <div class="post-grid">
                </div>

            </div>
            <div class="right-col">
                <div class="profile-card">
                    <div class="profile-pic">
                        <img th:if="${member.picture != null}" th:src="${member.picture.startsWith('http') ? member.picture : '/member/download/profile/' + member.picture}" alt="">
                    </div>
                    <div>
                        <p class="username" th:text="${member.name}">modern_web_channel</p>
                        <p class="sub-text">kunaal kumar</p>
                    </div>
                    <a th:href="${'/member/profile/' + member.id}"><button class="action-btn">switch</button></a>
                </div>


                <p class="suggestion-text">Suggestions for you</p>

                <!--Member 추천 생성 영역 -->
                <div class="suggest-member-grid">

                </div>
            </div>
        </div>
    </section>

    <div id="detail_modal_feed_content" class="modal modal_overlay_content">
        <div class="modal_window">
            <div class="modal_title">
                <div class="modal_title_side"></div>
                <div style="margin: 5px"> 새 게시물 </div>
                <div class="modal_title_side">
                        <span id="close_detail_modal" class="close_modal material-icons-outlined" style="font-size: 30px">
                            close
                        </span>
                </div>
            </div>
            <div class="modal_image_content">
                <div id="detail_input_image" class="detail_modal_image_upload_content">

                </div>
                <div class="detail_modal_content_write">


                </div>
            </div>

        </div>
    </div>


    <div id="modal_add_feed" class="modal modal_overlay">
        <div class="modal_window">
            <div class="modal_title">
                <div class="modal_title_side"></div>
                <div> 새 게시물 </div>
                <div class="modal_title_side">
                        <span id="close_modal" class="close_modal material-icons-outlined" style="font-size: 30px">
                            close
                        </span>
                </div>
            </div>
            <div class="modal_image_upload">
                <span style="text-align: center"> 사진을 여기에 끌어다 놓으세요. </span>

            </div>
        </div>
    </div>


    <!--이미지 업로드시 보여줄 모달창-->
    <div id="modal_add_feed_content" class="modal modal_overlay_content">
        <div class="modal_window">
            <div class="modal_title">
                <div class="modal_title_side"></div>
                <div style="margin: 5px"> 새 게시물 </div>
                <div class="modal_title_side">
                        <span id="close_modal2" class="close_modal material-icons-outlined" style="font-size: 30px">
                            close
                        </span>
                </div>
            </div>
            <div class="modal_image_content">
                <div id="input_image" class="modal_image_upload_content">

                </div>
                <div class="modal_content_write">
                    <div class="feed_name">
                        <div class="profile_box">
                            <img style="width: 25px; height: 25px;" id="input_profile_image" class="profile_img"
                                                                 th:src="${(member.picture.startsWith('http') ? member.picture : '/member/download/profile/' + member.picture)}"
                                                                 alt="">
                        </div>
                            <span id="input_user_id" class="feed_name_txt"  th:text="${member.name}" th:else> jin.99 </span>
                    </div>
                    <div style="height: 440px">
                        <textarea id="input_content" class="feed_content_textarea form-control col-sm-5" rows="10" placeholder="설명을 입력하세요..."></textarea>
                    </div>
                    <div style="width: 100%; text-align: center">
                        <button id="button_write_feed" type="button" class="btn btn-primary" style="width: 268px"> 공유하기</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <input type="hidden" id="sessionId" th:value="${member.id}">
</div>




</html>