<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="script">
    <script th:src="@{/js/main.js}" type="module"></script>

    <script th:inline="javascript" >
        let sessionId = [[${member.id}]];
    </script>

</th:block>

<th:block layout:fragment="css">

</th:block>


<div layout:fragment="content">
    <section class="main">
        <div class="wrapper">
            <div class="left-col">

                <!--POST 생성 영역-->
                <div class="post-grid">
                </div>

            </div>
            <div class="right-col">
                <div class="profile-card">
                    <div class="profile-pic">
                        <img th:if="${member.picture != null}" th:src="${member.picture.startsWith('http') ? member.picture : '/member/download/profile/' + member.picture}" alt="">
                    </div>
                    <div>
                        <p class="username" th:text="${member.name}">modern_web_channel</p>
                        <p class="sub-text">kunaal kumar</p>
                    </div>
                    <a th:href="${'/member/profile/' + member.id}"><button class="action-btn">switch</button></a>
                </div>


                <p class="suggestion-text">Suggestions for you</p>

                <!--Member 추천 생성 영역 -->
                <div class="suggest-member-grid">

                </div>
            </div>
        </div>
    </section>

    <div id="detail_modal_feed_content" class="modal modal_overlay_content">
        <div class="modal_window">
            <div class="modal_title">
                <div class="modal_title_side"></div>
                <div style="margin: 5px"> 새 게시물 </div>
                <div class="modal_title_side">
                        <span id="close_detail_modal" class="close_modal material-icons-outlined" style="font-size: 30px">
                            close
                        </span>
                </div>
            </div>
            <div class="modal_image_content">
                <div id="detail_input_image" class="detail_modal_image_upload_content">

                </div>
                <div class="detail_modal_content_write">


                </div>
            </div>

        </div>
    </div>


    <div th:include="~{fragments/modal::modal}"></div>
</div>



</html>